* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

:root {
	--color-main: #141922;
	--color-sidebar: #000000;
	--color-toolbar: #282828;
	--color-button: #a3a3a3;
	--color-green: #adff2f;
}

.text-transform {
    text-transform: uppercase;
}

/* font montserrant */
/* text trasform */

/* FLEX UTILITY */

.d-flex {
    display: flex;
}

.column {
    flex-direction: column; 
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.gap-10 {
    gap: 10px;
}

.wrap {
    flex-wrap: wrap;
}

.wrapper {
    height:100vh;
    background-color: aqua;
}

/* TOOLBAR TOOLBAR TOOLBAR */

#toolbar {
    background-color: red;
    height: 90px;
}

.content {
    height: calc(100vh - 90px);
    width: 100%;
    background-color: orange;
}

#toolbar img {
    width: 60px;
}

.brano {
 vertical-align: ;
}

.progress-bar {
    height: 5px;
    width: 100px;
    background-color: #000000;
}

.volume {
    height: 5px;
    width: 50px;
    background-color: #000000;
}

/* SIDEBAR SIDEBAR SIDEBAR */

#sidebar {
    width: 200px;
    height: 100%;
    background-color: green;
    overflow-y: hidden;
}

.icon {
    width: 20%;
}

.menu {
    width: 80%;
}

/* MAIN */
main {
    width: calc(100% - 200px);
    padding: 100px 20px 20px 20px;
    overflow-y: auto;
}

.card {
    width: calc(100% / 6 - 10px);
}

.card img {
    width: 100%;
    overflow: hidden;
}

.round {
    border-radius: 50%;
}


/* HEADER */
header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    background-color: #00000038;
}

header a {
    border: 1px solid black;
}

/* MEDIA QUERY MEDIA QUERY*/

@media screen and (max-width: 992px) {
    .nav {
        flex-wrap: wrap;
    }

    .card {
        width: calc(100% / 4 - 10px);
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {
    
}
@media screen and (max-width: 992px) {
    
}
